@import url('https://fonts.googleapis.com/css?family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background: burlywood;
    height: 100%;
    
}

header {
    display: flex;
    z-index: 1;
    height: 20vh;
    width: 100%;
}

i {
    cursor: pointer;
}

header:hover {
    background: whitesmoke;
    transition: ease-in 0.3s;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    width: 90%;
}

nav p {
    font-family: 'Modak', cursive;
    font-size: 50px;
}

main {
    position: relative;
    top: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.openbtn {
    background: rgba(0, 0, 0, 0);
    border: 0px;
}

.openbtn:focus {
    outline: none;
}

.side-bar {
    position: fixed;
    top: 20vh;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: left;
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
    transition: 0.5s;
    font-size: 10px;
    margin-left: 5px;
    background: rgba(0, 0, 0, 0.25);
    width: 0;
    height: 85vh;
    z-index: 1;
}

.side-bar a {
    padding: 5px;
    text-decoration: none;
    font-size: 35px;
    color: white;
    text-transform: uppercase;
    display: block;
    transition: 0.5s;
}

.side-bar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 75px;
    margin-left: 50px;
}

.product-gallery {
    font-family: 'Staatliches', cursive;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
    grid-gap: 10px;
    height: 50%;
    width: 80%;
    margin: auto;
    
}

.product {
    height: 350px;
    width: 300px;
    text-align: center;
    transition: all 0.5s;
    
}

.product:hover {
    
    transform: scale(1.25);
}

.bottom-arrow {
    text-align: center;
}

.bottom-arrow a {
    text-decoration: none;
    color: black;
}

.bottom-arrow p {
    margin-top: 5px;
    font-size: 20px;
}

.product img {
    height: 300px;
    width: 100%;
}

.about {
    height: 50%;
    background: slategrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: 'Staatliches', cursive;
}

.about img {
    height: 500px;
    width: 500px;
    border: 5px solid burlywood;
    border-radius: 50%;
    margin-top: 15px;
}

.designer {
    background: white;
    height: 250px;
    width: 85%;
    display: flex;
    align-items: center;
    padding: 15px;
    margin: 25px;
}

.designer p {
    text-transform: capitalize;
    font-size: 25px;
}